@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Appellio へようこそ</h1>

    <h3>
        ログインをした後に、<a class="nav-link" href="/Albums">アルバムリスト</a>に移動してサービスを利用します。
    </h3>
</div>
