@{
    ViewData["Title"] = "Home Page";
}

<style>
    .header-text {
        margin-bottom: 50px;
    }
</style>

<div class="text-center">
    <h1 class="header-text" class="display-4">Appellio へようこそ</h1>
    <h3>
        ログインをした後に、<a class="nav-link" href="/Albums">アルバムリスト</a>に移動してサービスを利用します。
    </h3>
</div>
