@{
    ViewData["Title"] = "Home Page";
}

<style>
    .header-text {
        margin-bottom: 50px;
    }
</style>

<div class="text-center">
    <h1 class="display-4 header-text">Appellio へようこそ</h1>
    <h3>
        ログイン後、<a style="display: inline-block" class="nav-link" href="/Albums">アルバムリスト</a>に移動してサービスを利用します。
    </h3>

    <p>動作検証は Chrome でのみ行っています。Firefox では動作しないことを確認済みです。</p>
</div>
