@model Appellio.Models.IAlbum

@{
    ViewData["Title"] = "Delete";
}

<h3>アルバムの削除</h3>

このアルバムを削除しますか？

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="削除" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.Id">アルバムの詳細に戻る</a>
    </form>
</div>
