@model IEnumerable<Appellio.Models.IAlbum>

@{
    ViewData["Title"] = "Index";
}

<h3>アルバムリスト</h3>

<p>
    <a asp-action="Create">アルバムの作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Words" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Detail</a>
            </td>
        </tr>
}
    </tbody>
</table>
