@model IEnumerable<Appellio.Models.IAlbum>

@{
    ViewData["Title"] = "Index";
}
<style>
    .w-10 {
        width: 10%;
    }
    .w-90 {
        width: 90%;
    }
    .btn-size {
        width: 100px;
    }

    .edit-label {
        padding: 1.5vw;
    }

    .dropleft .dropdown-toggle::before {
        display: none;
    }

    .btn-group, .btn-group-vertical {
        float: right;
    }

    .editIcon {
        float: right;
        margin-right: 10px;
    }
</style>
<h2>アルバムリスト</h2>

<table class="table">
    <thead>
        <tr>
            <th class="w-90">
                Album @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class="w-10">
                <div class="btn-group dropleft">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg height="16" class="octicon octicon-kebab-vertical" viewBox="0 0 3 16" version="1.1" width="6" aria-hidden="true">
                            <path fill-rule="evenodd" d="M0 2.5a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0zm0 5a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0zM1.5 14a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                        </svg>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" onclick="toggleEdit(this)">アルバムの編集</a>
                        <a class="dropdown-item" href="javascript:document.getElementById('createNewForm').submit();">
                            <form id="createNewForm" asp-action="Create" asp-controller="Albums" method="post">
                                <input name="albumId" hidden value="@Context.Request.Path.Value.Split("/").Last()" />
                            </form>
                            アルバムの新規作成
                        </a>
                    </div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "Index", new { id = item.Id })
                </td>
                <td>
                    <a href="/Albums/Edit/@item.Id">
                        <svg height="16" class="octicon octicon-pencil editIcon" style="display: none" viewBox="0 0 14 16" version="1.1" width="14" aria-hidden="true">
                            <path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path>
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function toggleEdit(menu) {
        const firstEditIcon = document.querySelector(".octicon-pencil");
        const editIcons = document.querySelectorAll(".octicon-pencil");
        const editMenu = menu;

        const isInEdit = firstEditIcon.style.display == 'none' ? false : true;

        if (isInEdit) {
            editIcons.forEach((label) => {
                label.style.display = "none";
            });
            editMenu.textContent = "Edit";
        }
        else {
            editIcons.forEach((label) => {
                label.style.display = "";
            });
            editMenu.textContent = "End Edit";
        }
    }
</script>