@model Appellio.Models.IWord

@{
    ViewData["Title"] = "Edit";
}

<h3>単語の編集</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Spelling" class="control-label"></label>
                <input asp-for="Spelling" class="form-control" data-val="true"
                       data-val-required="スペルを入力して下さい。"/>
                <span asp-validation-for="Spelling" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meaning" class="control-label"></label>
                <input asp-for="Meaning" class="form-control" data-val="true"
                       data-val-required="意味を入力して下さい。"/>
                <span asp-validation-for="Meaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" data-val="true"
                       data-val-required="例文を入力して下さい。"/>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextMeaning" class="control-label"></label>
                <input asp-for="TextMeaning" class="form-control" />
                <span asp-validation-for="TextMeaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="AlbumId" class="form-control" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">詳細に戻る</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
